@media (max-width: 475px) {
  .Nav {
    .Nav__logo {
      width: 65%;
      margin-left: 10%;
    }
    .Navlinks {
      width: 80%;
      margin-left: 0;

      .Nav__button {
        padding: 2% 4%;
        margin: 0 2%;
        font-size: 0.7rem;
      }

      .Nav__search {
        text-indent: 5px;
      }
    }
  }

  .Video {
    .Video__player {
      width: 100%;
      height: 100%;
    }
  }

  .more-content {
    .more-content__this-video {
      .VideoInfo {
        .VideoInfo__details {
          display: block;
          width: 90%;

          .views {
            margin-right: 5px;
          }

          .likes {
            margin-right: 55%;
          }
        }
      }
      .CommentsDisplay {
        .comment-input {
          .comment-input__field {
            .comment-input__form {
              .comment-button {
                font-size: 0.6rem;
              }
            }
          }
        }

        .comment-list {
          .Comments {
            .name-container {
              width: 70%;
              .comment {
                font-weight: normal;
                font-size: 0.8rem;
                width: 85%;
                color: $black;
                margin: -3% 1% 3% 13%;
              }
            }
          }
        }
      }
    }
    .more-content__next-videos {
      .NextVideoList {
        .NextVideoList__header {
          margin: 3% 3% 5% 3%;
        }

        .NextVideo {
          margin: 3% 3%;
          width: 100%;
          display: flex;

          .NextVideo-link {
            margin: 0 0;
            img {
              width: 125px;
              height: 70px;
            }
            .NextVideo-info {
              margin-left: 2%;
              width: 45%;
              font-size: 0.8rem;

              .NextVideo__user {
                margin-top: 3%;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }

  .Upload {
    .container {
      margin: 2% 4%;
      width: 92%;
      height: 100%;

      .h1-header {
        font-size: 1.5rem;
      }

      .divider {
        display: none;
      }
      .divider-btm {
        @include add-divider();
        width: 93%;
        margin: 3% 0 3% 0;
      }

      button {
        float: right;
        background-color: $blue;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 600;
        border-radius: 3px;
        border: none;
        padding: 2% 3%;
        margin-bottom: 15%;

        &.publish-btn {
          color: white;
          margin-right: 0;
        }
        &.cancel-btn {
          background-color: white;
          color: $blue;
        }
      }
    }

    .Upload__area {
      display: flex;
      flex-flow: column nowrap;

      .upload-preview {
        width: 100%;

        .upload-image {
          width: 100%;
          border-radius: 3px;
          margin-bottom: 5%;
        }
      }

      .upload-input {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        width: 100%;
        margin-left: 0;
        height: 40%;

        .header {
          align-self: flex-start;
          margin-bottom: 0.5%;
        }

        .input-field {
          background-color: $alabaster;
          font-size: 14px;
          outline: none;
          border: 1px solid $mercury;
          border-radius: 3px;
          font-size: 12px;
          color: $black;
          width: 100%;
          height: 100%;
          text-indent: 10px;
        }

        input.input-field {
          height: 50px;
          margin-bottom: 2%;
        }

        textarea.input-field {
          height: 130px;
          resize: none;
          padding-top: 2%;
          min-height: 40%;
        }
      }
    }
    .header {
      @include add-header-sm();
      margin-bottom: 1%;
    }
  }
}

@media (max-width: 375px) {
  .Nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 40%;

    .Nav__logo {
      margin: 4% 0;
      width: 85%;
    }
    .Navlinks {
      display: flex;
      width: 100%;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin-left: 0;

      .Nav__search {
        background-size: 7%;
        padding: 5% 15%;
        width: 64%;
        margin: 0;
        font-size: 1rem;
      }

      .Nav__button {
        background-size: 7%;
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 60px;
        background-color: $blue;
        text-indent: 5px;
        margin: 4% 4% 4% -18%;
        color: $white;
        padding: 4% 25%;
        font-size: 0.9rem;
      }

      .Nav__profile {
        align-self: flex-end;
        margin: -16% 5% 5% 0;
      }
    }
  }

  .more-content {
    .more-content__this-video {
      width: 115%;
      border-right: none;

      .VideoInfo {
        .VideoInfo__details {
          display: block;
          width: 70%;
          .user {
            float: left;
            font-weight: bold;
          }
          .date {
            float: left;
            margin: 2px 10px;
            color: $silver;
            font-size: 0.9rem;
          }

          .views,
          .views__icon,
          .likes,
          .likes__icon {
            float: right;
            margin: 3px;
            font-size: 0.9rem;
            color: $black;
          }

          .views {
            margin-right: 0;
          }

          .likes {
            margin-right: 44%;
          }
        }
      }

      .CommentsDisplay {
        .comment-input {
          margin-left: 3%;

          .comment-header {
            font-size: 0.7rem;
            font-weight: bold;
            color: $silver;
            margin-left: 18%;
          }

          .comment-input__field {
            justify-content: space-around;
            width: 95%;

            .comment-profile {
              border-radius: 50%;
              width: 48px;
              height: 46px;
              margin-top: 2%;
            }

            .comment-input__form {
              display: flex;
              flex-flow: column nowrap;
              justify-content: space-between;
              width: 100%;
              margin: 0 2%;

              .comment-input {
                background-color: $alabaster;
                font-size: 14px;
                width: 90%;
                padding: 4% 2% 30% 4%;
                outline: none;
                border: 1px solid $mercury;
                border-radius: 3px;
                font-size: 0.9rem;
                color: $black;
                margin: 3% 3% 5% 3%;
              }

              .comment-button {
                background-color: $blue;
                color: white;
                width: 97%;
                padding: 10px 30px;
                margin-left: 3%;
              }
            }
          }
        }

        .comment-list {
          @include add-divider();
          height: 20%;
          margin-left: 3%;

          .Comments {
            border-right: none;
            border-bottom: 2px solid $alabaster;

            &:nth-of-type(1) {
              border-top: 2px solid $alabaster;
            }

            &:last-child {
              border-bottom: none;
            }

            .name-container {
              display: flex;
              flex-flow: row wrap;
              justify-content: flex-start;
              width: 100%;
              margin: 0;
              border: none;

              .name {
                color: $black;
                line-height: 50px;
                font-weight: bold;
                font-size: 1rem;
                margin: 4% 0 0 3%;
              }

              .circle {
                background: $mercury;
                margin: 8% 0 0 0;
                border-radius: 50%;
                width: 48px;
                height: 46px;
              }

              .date {
                font-size: 0.9rem;
                color: $silver;
                margin: 4% 0 0 2%;
                line-height: 50px;
              }
            }

            .comment {
              font-weight: normal;
              font-size: 0.8rem;
              width: 85%;
              color: $black;
              margin: -3% 1% 3% 19%;
            }
          }
        }
      }
    }
    .more-content__next-videos {
      .NextVideoList {
        .NextVideoList__header {
          margin: 3% 3% 5% 3%;
        }

        .NextVideo {
          margin: 6% 3%;
          width: 100%;
          display: flex;

          .NextVideo-link {
            margin: 0 0;
            img {
              width: 125px;
              height: 70px;
            }
            .NextVideo-info {
              margin-left: 5%;
              width: 45%;
              font-size: 0.8rem;

              .NextVideo__user {
                margin-top: 0;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .Nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 40%;

    .Nav__logo {
      width: 85%;
      margin: 4% 0;
    }
    .Navlinks {
      display: flex;
      width: 100%;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin-left: 0;

      .Nav__search {
        background-size: 7%;
        padding: 5% 15%;
        width: 64%;
        margin: 0;
        font-size: 1rem;
      }

      .Nav__button {
        background-size: 7%;
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 60px;
        background-color: $blue;
        text-indent: 15px;
        margin: 4% 4% 4% -18%;
        color: $white;
        padding: 4% 25%;
      }

      .Nav__profile {
        align-self: flex-end;
        margin: -18% 5% 5% 0;
      }
    }
  }

  .Video {
    display: flex;
    justify-content: center;
    background-color: black;

    .Video__player {
      width: 100%;
      height: 100%;
    }
  }

  .more-content {
    flex-flow: column nowrap;

    .more-content__this-video {
      .VideoInfo {
        .VideoInfo__details {
          width: 104%;
          margin-left: 0;

          .user {
            float: left;
            font-weight: bold;
            margin-left: 3%;
          }
          .date {
            float: left;
            margin: 2px 10px;
            color: $silver;
            font-size: 0.9rem;
          }

          .views {
            margin-right: 5px;
          }

          .likes {
            margin-right: 60%;
          }
        }

        .divider {
          @include add-divider();
          margin-left: 3%;
          width: 100%;
        }
        .VideoInfo__p {
          width: 90%;
          margin-left: 3%;
          font-size: 0.8rem;
        }
      }

      .CommentsDisplay {
        .comment-input {
          margin-left: 3%;

          .comment-header {
            font-size: 0.7rem;
            font-weight: bold;
            color: $silver;
            margin-left: 19%;
          }

          .comment-input__field {
            justify-content: space-around;
            width: 95%;

            .comment-profile {
              border-radius: 50%;
              width: 48px;
              height: 46px;
              margin-top: 2%;
            }

            .comment-input__form {
              display: flex;
              flex-flow: column nowrap;
              justify-content: space-between;
              width: 100%;
              margin: 0 2%;

              .comment-input {
                background-color: $alabaster;
                font-size: 14px;
                width: 90%;
                padding: 4% 2% 30% 4%;
                outline: none;
                border: 1px solid $mercury;
                border-radius: 3px;
                font-size: 0.9rem;
                color: $black;
                margin: 3% 3% 5% 3%;
              }

              .comment-button {
                background-color: $blue;
                color: white;
                width: 97%;
                padding: 10px 30px;
                margin-left: 3%;
              }
            }
          }
        }

        .comment-list {
          .Comments {
            .name-container {
              width: 100%;
              margin: 0;
              border: none;

              .name {
                color: $black;
                line-height: 50px;
                font-weight: bold;
                font-size: 1rem;
                margin: 4% 0 0 3%;
              }

              .circle {
                background: $mercury;
                margin: 8% 0 0 0;
                border-radius: 50%;
                width: 48px;
                height: 46px;
              }

              .date {
                font-size: 0.9rem;
                color: $silver;
                margin: 4% 0 0 2%;
                line-height: 50px;
              }
            }

            .comment {
              font-weight: normal;
              font-size: 0.8rem;
              width: 95%;
              color: $black;
              margin: -5% 1% 3% 20%;
            }
          }
        }
      }
    }

    .more-content__next-videos {
      .NextVideoList {
        .NextVideoList__header {
          margin: 8% 3% 8% 3%;
        }

        .NextVideo {
          .NextVideo-link {
            margin: 0% 3%;
            width: 90%;

            .NextVideo-info {
              margin-left: 5%;
              width: 95%;
            }
          }
        }
      }
    }
  }

  .Upload {
    .container {
      margin: 2% 4%;
      width: 92%;
      height: 100%;

      .h1-header {
        font-size: 1.5rem;
        margin-bottom: 10%;
      }

      .divider {
        display: none;
      }
      .divider-btm {
        @include add-divider();
        width: 93%;
        margin: 3% 0 3% 0;
      }

      button {
        display: block;
        background-color: $blue;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 600;
        border-radius: 3px;
        border: none;
        padding: 5% 3%;
        margin-bottom: 0;
        width: 100%;

        &.publish-btn {
          color: white;
          margin-right: 0;
        }
        &.cancel-btn {
          background-color: white;
          color: $blue;
          margin-bottom: 5%;
        }
      }
    }

    .Upload__area {
      display: flex;
      flex-flow: column nowrap;

      .upload-preview {
        width: 100%;

        .upload-image {
          width: 100%;
          border-radius: 3px;
          margin-bottom: 5%;
        }
      }

      .upload-input {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        width: 100%;
        margin-left: 0;
        height: 40%;

        .header {
          align-self: flex-start;
          margin-bottom: 0.5%;
        }

        .input-field {
          background-color: $alabaster;
          font-size: 14px;
          outline: none;
          border: 1px solid $mercury;
          border-radius: 3px;
          font-size: 12px;
          color: $black;
          width: 100%;
          height: 100%;
          text-indent: 10px;
        }

        input.input-field {
          height: 40px;
          margin-bottom: 7%;
        }

        textarea.input-field {
          height: 120px;
          resize: none;
          padding-top: 2%;
          min-height: 40%;
          margin-bottom: 5%;
        }
      }
    }
    .header {
      @include add-header-sm();
      margin-bottom: 1%;
    }
  }
}
