//VARIABLES
$black: #323232;
$white: #ffffff;
$alabaster: #fafafa;
$mercury: #e1e1e1;
$silver: #afafaf;
$blue: #2196f3;

//FONTS
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/_Global Font/AvenirNextProLT");
}

//MIXIN
@mixin add-divider {
  width: 84%;
  margin: 2% 0 2% 16%;
  height: 2px;
  box-shadow: 0 2px 0 $alabaster;
}

@mixin add-header-sm {
  font-size: 0.7rem;
  font-weight: bold;
  color: $silver;
}

body {
  margin: 0;
  font-family: "Avenir Next";
  color: $black;
}

.Nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  box-shadow: 0 2px 0 $alabaster;

  .Navlinks {
    display: flex;
    width: 40%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 70px;

    .Nav__search {
      background-image: url("../assets/Icons/PNG/Icon-search.png");
      background-color: $alabaster;
      background-size: 8%;
      background-repeat: no-repeat;
      background-position: left;
      background-position-x: 15px;
      font-size: 14px;
      padding: 2.5% 7%;
      margin-left: 70px;
      outline: none;
      border: 1px solid $mercury;
      border-radius: 3px;
      text-indent: 5px;
      font-size: 12px;
      color: $black;
    }

    .Nav__button {
      background-image: url("../assets/Icons/PNG/Icon-upload.png");
      background-size: 12%;
      background-repeat: no-repeat;
      background-position: left;
      background-position-x: 15px;
      background-color: $blue;
      text-indent: 15px;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 600;
      border-radius: 3px;
      color: $white;
      padding: 2% 3%;
    }

    .Nav__profile {
      border-radius: 50%;
      width: 48px;
      height: 46px;
    }
  }
}

.Video {
  display: flex;
  justify-content: center;
  background-color: black;

  .Video__player {
    width: 70%;
    height: 100%;
  }
}

.more-content {
  display: flex;
  flex-flow: row nowrap;

  .more-content__this-video {
    width: 65%;
    height: 100%;
    border-right: 2px solid $alabaster;

    .VideoInfo {
      display: flex;
      flex-flow: column nowrap;

      .VideoInfo__header {
        margin-left: 16%;
        font-size: 2rem;
      }

      .VideoInfo__details {
        width: 80%;
        margin-left: 16%;
        .user {
          float: left;
          font-weight: bold;
        }
        .date {
          float: left;
          margin: 2px 10px;
          color: $silver;
          font-size: 0.9rem;
        }

        .views,
        .views__icon,
        .likes,
        .likes__icon {
          float: right;
          margin: 3px;
          font-size: 0.9rem;
          color: $black;
        }

        .views {
          margin-right: 20px;
        }
      }

      .divider {
        @include add-divider();
      }
      .VideoInfo__p {
        width: 65%;
        margin-left: 16%;
        font-size: 0.9rem;
      }
    }

    .CommentsDisplay {
      width: 100%;

      .comment-input {
        margin-left: 16%;
        width: 100%;

        .comment-header {
          @include add-header-sm();
          margin-left: 7%;
        }

        .comment-input__field {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          width: 80%;

          .comment-profile {
            border-radius: 50%;
            width: 48px;
            height: 46px;
          }

          .comment-input__form {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 100%;
            margin: 0 2%;

            .comment-input {
              background-color: $alabaster;
              font-size: 14px;
              width: 73%;
              padding: 0 2%;
              outline: none;
              border: 1px solid $mercury;
              border-radius: 3px;
              font-size: 12px;
              color: $black;
              margin-left: 0%;
            }

            .comment-button {
              background-color: $blue;
              text-decoration: none;
              font-size: 0.9rem;
              font-weight: 600;
              border-radius: 3px;
              border: none;
              color: $white;
              padding: 2% 3%;
              color: white;
              margin-left: 3%;
            }
          }
        }
      }

      .comment-list {
        @include add-divider();

        .Comments {
          border-right: 2px solid $alabaster;
          border-bottom: 2px solid $alabaster;

          .name-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            width: 60%;
            margin: 0;
            border: none;

            .name {
              color: $black;
              line-height: 50px;
              font-weight: bold;
              font-size: 1rem;
              margin: 4% 0 0 3%;
            }

            .circle {
              background: $mercury;
              margin: 8% 0 0 0;
              border-radius: 50%;
              width: 48px;
              height: 46px;
            }

            .date {
              font-size: 0.9rem;
              color: $silver;
              margin: 4% 0 0 2%;
              line-height: 50px;
            }
          }

          .comment {
            font-weight: normal;
            font-size: 0.8rem;
            width: 85%;
            color: $black;
            margin: -3% 0 3% 8%;
          }
        }
      }
    }
  }

  .more-content__next-videos {
    .NextVideoList {
      .NextVideoList__header {
        font-size: 0.8rem;
        font-weight: bold;
        color: $silver;
        margin: 10% 6%;
      }

      .NextVideo {
        .NextVideo-link {
          text-decoration: none;
          color: $black;
          display: flex;
          margin: 6% 6%;
          width: 90%;

          img {
            width: 110px;
            height: 65px;
            border-radius: 5px;
          }

          .NextVideo-info {
            display: flex;
            flex-flow: column nowrap;
            margin-left: 5%;

            .NextVideo__title {
              font-weight: bold;
            }

            .NextVideo__user {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

.Upload {
  .container {
    margin: 2% 12%;
    width: 78%;

    .divider {
      @include add-divider();
      width: 93%;
      margin: 2% 0 3% 0;
    }
    .divider-btm {
      @include add-divider();
      width: 93%;
      margin: 3% 0 3% 0;
    }

    button {
      float: right;
      background-color: $blue;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 600;
      border-radius: 3px;
      border: none;
      padding: 1% 3%;

      &.publish-btn {
        color: white;
        margin-right: 7%;
      }
      &.cancel-btn {
        background-color: white;
        color: $blue;
      }
    }
  }

  .Upload__area {
    display: flex;
    flex-flow: row nowrap;

    .upload-preview {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      width: 40%;

      .upload-image {
        width: 100%;
        border-radius: 3px;
      }
    }

    .upload-input {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      width: 100%;
      margin-left: 2%;

      .header {
        align-self: flex-start;
        margin-bottom: 0.5%;
      }

      .input-field {
        background-color: $alabaster;
        font-size: 14px;
        outline: none;
        border: 1px solid $mercury;
        border-radius: 3px;
        font-size: 12px;
        color: $black;
        width: 90%;
        height: 100%;
        text-indent: 10px;
      }

      input.input-field {
        height: 25%;
        margin-bottom: 2%;
      }

      textarea.input-field {
        height: 40%;
        resize: none;
        padding-top: 2%;
        min-height: 40%;
      }
    }
  }
  .header {
    @include add-header-sm();
    margin-bottom: 0.5%;
  }
}

@import "./media-queries/app_tablet-view";

@import "./media-queries/app_mobile-view";
